name: code

on:
  pull_request:
  push:
    branches: master

jobs:
  postgres_compatibility:
    name: Postgres compatibility ${{ matrix.postgres-version }}
    runs-on: ubuntu-latest
    strategy:
      fail-fast: true
      matrix:
        # always use latest Python b/c the point here is to test PostgreSQL compatibility
        python-version: [3.9]
        postgres-version: [10.15, 11.10, 12.5, 13.1]

    steps:
    - uses: actions/checkout@v2

    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v1
      with:

        python-version: ${{ matrix.python-version }}

    - name: Install Python dependencies
      run: |
        pip install psycopg2
        # always use latest Django b/c the point here is to test PostgreSQL compatibility
        pip install Django
        python setup.py develop

    - name: Create database
      run: |
        # maps the container port to localhost
        docker run --name db -p 5432:5432 -d -e POSTGRES_PASSWORD=testing postgres:${{ matrix.postgres-version }}

        sleep 10 # wait for server to initialize
        PGPASSWORD="testing" psql -c 'create database dts_test_project;' -U postgres -h localhost

    - name: Run tests
      run: |
        export DATABASE_PASSWORD="testing"
        ./run_tests.sh

  django_compatibility:
    name:  Django compatibility ${{ matrix.django-version}} / Python ${{ matrix.python-version }}
    runs-on: ubuntu-latest
    continue-on-error: ${{ matrix.experimental }}
    strategy:
      fail-fast: true
      matrix:
        python-version: [3.6, 3.7, 3.8, 3.9]
        django-version: ["==2.0.*", "==2.1.*", "==2.2.*", "==3.0.*", "==3.1.*"]
        # always use latest Postgres b/c the point here is to test Django compatibility
        postgres-version: [13.1]
        experimental: [false]
        include:
          - django-version: "==3.2a1"
            python-version: 3.9
            postgres-version: 13.1
            experimental: true

    steps:
    - uses: actions/checkout@v2

    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v1
      with:
        python-version: ${{ matrix.python-version }}

    - name: Install Python dependencies
      run: |
        pip install psycopg2
        pip install Django${{ matrix.django-version }}
        python setup.py develop

    - name: Create database
      run: |
        # maps the container port to localhost
        docker run --name db -p 5432:5432 -d -e POSTGRES_PASSWORD=testing postgres:${{ matrix.postgres-version }}

        sleep 10 # wait for server to initialize
        PGPASSWORD="testing" psql -c 'create database dts_test_project;' -U postgres -h localhost

    - name: Run tests
      run: |
        export DATABASE_PASSWORD="testing"
        ./run_tests.sh

