name: code

on:
  pull_request:
  push:
    branches: master

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v5

    - name: Set up Python 3.12
      uses: actions/setup-python@v5
      with:
        python-version: 3.12

    - name: Install Python dependencies
      run: |
        # always use latest Django b/c the point here is to test PostgreSQL compatibility
        pip install Django
        pip install -e ".[dev]"

    - name: Create database
      run: |
        # maps the container port to localhost
        docker run --name db -e MYSQL_ALLOW_EMPTY_PASSWORD=1 -p 3306:3306 -d mysql:8
        sleep 10 # wait for server to initialize

    - name: Run tests
      run: |
        ./run_tests.sh
